body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.calculator{
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px black solid;
    padding: 10px 9px 10px 10px;
    background-color: black;
}
.display{
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    width: 96%;
    gap: 5px;
    padding: 0px 5px;
    height: 100px;
    margin-bottom:10px;
    background-color: rgb(150, 149, 149);
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 6.5px;
}
button{
    width: 23.5%;
    height: 50px;
}
.zero{
    width: 48.5%;
}
.top{
    background-color: rgb(109, 187, 251);
}
.operator{
    background-color: rgb(235, 187, 97);
}
.num{
    background-color: rgb(85, 255, 47);
}
.display-mem{
    height: 35px;
    width: 100%;
    font-size: 30px;
    text-align: end;
}
.display-main{
    height: 60px;
    width: 100%;
    font-size: 55px;
    text-align: end;
}